.Loginimage {
  width: 100%;
  max-height: 22vh;
  object-fit: cover;
}
.headerLogin {
  position: relative;
}
.profileImg {
  display: inline;
  max-width: 20rem;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  max-width: 15rem;
  max-height: 15rem;
}
